@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  font-family:
    "Elms Sans", "SN Pro", Urbanist, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
  color-scheme: light;
}

body {
  margin: 0;
  min-width: 320px;
}
